.about-test {
  height: 339px;
  background-image: url('../images/image.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 83px;
}

.about-test__wrapper {
  position: relative;
  width: fit-content;
  margin: auto;
}

.about-test__describe {
  display: block;
  margin-bottom: 28px;
  margin-top: auto;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

.about-test__describe::before {
  content: '';
  position: absolute;
  top: -23px;
  left: -12px;
  width: 24px;
  height: 24px;
  background-image: url('../icons/qoutes-open.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.about-test__describe::after {
  content: '';
  position: absolute;
  bottom: -24px;
  right: -12px;
  width: 24px;
  height: 24px;
  background-image: url('../icons/quotes-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}