.button {
  padding: 12px 32px;
  border-radius: 20px;

  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.button--yellow {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 199, 0) 0%, rgb(255, 199, 0) 100%);
  color: #0d0c11;
}

.button--permanent {
  color: white;
  border: 1px solid white;
}
