.button {
  padding: 12px 32px;
  border-radius: 20px;

  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button--yellow {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 199, 0) 0%, rgb(255, 199, 0) 100%);
  color: #0d0c11;
}

.button--permanent {
  color: white;
  border: 1px solid white;
}

.button--permanent:hover {
  background: #ffc700;
  color: #0d0c11;
}

.button--grey-shadow {
  box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: #dadada;
  color: #8e8e8e;
  padding-inline: 70px;
}

.button--grey-shadow:hover {
  background: #ffc700;
  color: #0d0c11;
}
