.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.task-list {
  position: relative;
  height: calc(100dvh - 46px);
  background-image: url('../images/pure-galaxy.webp');
  background-size: cover;
  background-position: top center;
  padding-top: 16px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task {
  display: flex;
  flex-direction: column;
}

.task--1 {
  padding-top: 100px;

  .task__responses {
    margin-top: 40px;
  }
}

.task--2 {
  padding-top: 65px;

  .task__responses {
    margin-top: 50px;
  }
}

.task--3 {
  padding-top: 45px;

  .task__responses {
    margin-top: 45px;
  }
}

.task--4 {
  padding-top: 28px;

  .task__responses {
    margin-top: 36px;
  }
}

.task--5 {
  padding-top: 28px;

  .task__responses {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 87px);
    gap: 12px;
    justify-content: center;
  }
}

.task--6 {
  padding-top: 28px;

  .task__responses {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 87px);
    gap: 12px;
    justify-content: center;
  }
}

.task--7 {
  padding-top: 36px;

  .task__responses {
    margin-top: 24px;
  }
}

.task--8 {
  padding-top: 16px;

  .task__picture {
    margin-top: 20px;
  }

  .task__responses {
    margin-top: 24px;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}

.task--9 {
  padding-top: 44px;

  .task__responses {
    margin-top: 30px;
  }
}

.task--10 {
  padding-top: 20px;

  .task__question {
    font-size: 16px;
  }

  .task__responses {
    margin-top: 16px;
  }
}

.task--11 {
  padding-top: 32px;

  .task__picture {
    margin-top: 16px;
  }

  .divider {
    margin-top: 24px;
  }
  
  .task__responses {
    margin-top: 20px;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
  }
}

.finish {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    margin-top: 32px;
    width: 65px;
    height: 65px;
    background-image: url('../icons/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .finish__text {
    margin-top: 28px;
    padding-inline: 22px;
    font-size: 14px;
    color: #fff;
    text-wrap: wrap;
  }
}

.task__question {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}

.task__picture {
  margin-top: 20px;
}

.task__responses {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task__responses--line {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: start;
}

.task__responses--line-3x {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  text-align: start;
}

.task__responses--block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 44px;
  height: 44px;
  color: #000;

}

.task__responses--bgc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #f2f3f3;
  opacity: 0.15;
}

/* .task__responses--bgc-block {
  background: #fff;
  border: 6px solid transparent;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */

.task__picture {
  margin-left: auto;
  margin-right: auto;
}

.content__question {
  /* margin-top: 100px; */
  /* align-self: center; */
  width: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.content__question--7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content__question--10 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__response {
  /* margin-top: 38px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__response--colors {
  margin-top: 10px;
}

.content__logic-response {
  display: flex;
  gap: 29px;
  align-items: center;
  justify-content: center;
}

.response-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: start;
}

.response-field--3x {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 18px;
  letter-spacing: 0.05em;
  /* line-height: 20px; */
  text-align: start;
}

input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0.5;
}

.input-label {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: start;
  padding-left: 94px;
  left: 0;
}

.input-label--3x {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: start;
  padding-left: 94px;
  left: 0;
}

.input-label::before {
  content: '';
  position: absolute;
  /* top: 15px; */
  top: calc(50% - 10px);

  left: 35px;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-label--3x::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 35px;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="radio"]:checked ~ .task__responses--bgc {
  background: #FFC700;
  opacity: 1;
  z-index: 0;
}

input[type="radio"]:checked ~ .input-label {
  color: #000;
}


input[type="radio"]:checked ~ .task__responses--bgc-block {
  border: 6px solid #FFC700;
}

input[type="radio"]:checked ~ .input-label::before {
  border: 1px solid black;
  background-color: #2950C2;
}

.logic-1:checked ~ .block-label {
  border: 6px solid #FFC700;
}

.select-1:checked ~ .color-label {
  border: 6px solid #FFC700;
}

.select-2:checked ~ .color-label {
  border: 6px solid #FFC700;
}

.color-select {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  /* box-sizing: unset; */
  overflow: hidden;
}

.color-select__item {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
}

.color-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-label {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 6px solid transparent;

  color: #0d0c11;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  /* line-height: 44px; */
}


.color-select__item--1 {
  background: #A8A8A8;
}

.color-select__item--2 {
  background: #0000a9;
}

.color-select__item--3 {
  background: #00a701;
}

.color-select__item--4 {
  background: #f60100;
}

.color-select__item--5 {
  background: #fdff19;
}

.color-select__item--6 {
  background: #a95403;
}

.color-select__item--7 {
  background: #000;
}

.color-select__item--8 {
  background: #850068;
}

.color-select__item--9 {
  background: #46b2ac;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loading 2s infinite linear;
}
