.header {
  position: relative;
  background-color: #272727;
  display: flex;
  align-items: center;
  gap: 9px;
  padding-inline: 15px;
}

.header__burger {
  width: 24px;
  height: 16px;
}

.header__image {
  height: 46px;
  width: 48px;
}

.header__title {
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
}

.icon:hover {
  cursor: pointer;
}

.icon--burger {
  background-image: url(../icons/burger.svg);
  width: 100%;
  height: 100%;
}

.icon--go-top {
  width: 16px;
  height: 16px;
  background-image: url(../icons/go-top.svg);
}